/*
@package mitheme
*/
.mi-form,
.mi-sidebar-preview { display:block; }
.label{display: block;margin-bottom: 5px;}
input{margin-bottom: 10px;}
.mi-sidebar-preview { width: 280px; background-color: #1F1F1F; padding: 20px; text-align: center; margin-right: 20px; }
.mi-sidebar { display: block; text-align: center; }
h3.mi-emailAddress,h3.mi-phoneNumber,h3.mi-address,h3.mi-website,
h3.mi-copyRight { font-weight: 100; color: #fff;margin: 0 0 10px; font-size: 18px;}
h3.mi-copyRight { font-size: 13px; margin: 0 0 20px; }
.image-container { display: block; width: 100%; overflow: hidden; text-align: center; }
.logo-preview { width: 82px; height: 82px; overflow: hidden; border-radius: 50%; margin: 10px auto; background-position: center center; background-repeat: no-repeat; background-size: cover; }
select.large-text { width: 100%; max-width: 250px;height: 32px;}