.wrapper{
  width: 100%;
  box-sizing: border-box;
  position: relative;

}

.background-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}
.background-no-repeat {
	background-repeat: no-repeat
}
.background-right-contain {
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.dtable {
	display: table;
	width: 100%;
	height: 100%;
 	.dtable-cell {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle
}

}

.hidden {
  display: none;
}
.img {
	width:100%;
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.img-left{
	width:100%;
	max-width:50px;
}
.img-right{
	width:100%;
	max-width:50px;
}
.f-left {
	float: left !important;
}
.f-right {
	float: right !important;
}
.fix {
	overflow: hidden !important;
}
.height-100{
	height: 100vh;
}
.height-fix{
	height: 250px;
}

// Prefix for Hover class names
$nameSpace: 'mi-button' !default;

// Durations
$fastDuration: .1s !default;
$mediumDuration: .3s !default;
$slowDuration: .5s !default;

// Colors
$primaryColor: #e1e1e1 !default;
$secondaryColor: #666 !default;
$highlightColor: #ccc !default;
$activeColor: #2098D1 !default;
$shadowColor: rgba(0, 0, 0, .6) !default;

// Speech bubbles options
$tipWidth: 10px !default;  //the width of the speech bubble tip
$tipHeight: 10px !default; //the height of the speech bubble tip
$tipColor: $primaryColor !default;

// Arrows options
$spaceBetweenTextAndArrows: 2.2em !default;

// Curl dimensions
$curlWidth: 25px !default;
$curlHeight: 25px !default;

// Curl colors
$revealAreaColor: white !default;    // reveal area behind the curl
$curlLineColor: #aaa !default;       // crease line
$curlTransitionColor: #ccc !default;	// color transitioning from crease line to final color
$curlLastColor: white !default;		// final color of the back of the curl

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;

// Compile with or without classes
$includeClasses: true !default;

%text-shadow { text-shadow: 0 1px 2px rgba(0,0,0,0.4); }

%background-gradient {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

#primary{
	&.content-area{
		margin-bottom: 40px;
	}
}
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
.woocommerce #respond input#submit,
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.wpcf7-submit{
-moz-user-select: none;
	background: #012b55 none repeat scroll 0 0;
	border: medium none;
	border-radius:0px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 13px 25px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	box-shadow: none;
	color:#fff;
	padding: 12px 18px 12px 18px;
min-height: 38px;
line-height: 38px;
padding-top: 0;
padding-bottom: 0;
}


.woocommerce-error, .woocommerce-info, .woocommerce-message{
	border-top:3px solid #012b55;
}
.woocommerce-message::before{
	color:#012b55;
}

.mi-shareThis{
ul{
	li{
		a{
			color:#012b55;
			    display: block !important;
		}
	}
}
}