.siter-footer{
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #262626;
    padding: 72px 0 52px;
    .sidebar-footer{
    color: #818181;
    word-wrap: break-word;
    h5{

    color: #fff;
    margin: 0 0 22px;

    font-size: 15px;
    line-height: 1.571428571428571em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

    	img{
    		margin-bottom: 10px;
    	}
    	ul{
    		list-style: none;
    		padding: 0px;
    		li{
    			color: #818181;
    word-wrap: break-word;
    a{
    	color: #818181;
    	text-decoration: none;
    }
&:hover{
   a{
    	color: #fff !important;
}
 }

    		}
    	}
    	span{
    		    font-size: 12px;
    	}
    }



}
.widget_recent_entries>ul>li>a, 
.widget_pages>ul>li>a, 
.widget_meta>ul>li>a, 
.widget_nav_menu ul li a, 
.widget_recent_comments>ul>li>a, 
.widget_recent_entries>ul>li>span {
    display: block;

}
//  copyright

.copyright{
    display: block;
    background-color: #1b1b1b;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    line-height: 22px;
    height: 53px;
    vertical-align: middle;
    color: #818181;
    p{
    	margin:0px;
    	a{
    		color: #818181;
    	}
    }
}