.site-header{
padding: 30px 0px;
.navbar-light {
    .site-logo{
        .navbar-brand{
        height: 50px;
        img{
            height: 50px;
        }
    }
    }
}
&.sticky{
	padding: 10px 0px;
}
}