#top-bar {
    position: relative;
    background-color: #012b55;
    font-size: 12px;
    border-bottom: 1px solid #012b55;
    padding: 8px 0;
    color: #fff;

    ul{
    	margin: 0px;
    	li{
    		color: #fff;
    		margin:0 7px 0 0;
    		a{
    			color: #fff;
    		}
    	}
    }
}