/* WP WYSIWYG Editor Styles */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.aligncenter {
    @include fullwidth();
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.bypostauthor, .gallery-caption{
    font-weight: 400;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
.search-form {
    margin-bottom: 34px;
    position: relative;
    input[type='search'] {
    width: 100%;
    max-width: 220px;
    overflow: hidden;
    background-color: #fbfbfc;
    padding: 0 18px;
    height: 51px;
    outline: 0;
    color: #969696;
    border: 2px solid #f2f2f2;
    border-right: 0;
    float: left;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
}
.search-submit {
    right: 0;
    border: none;
    outline: 0;
    font-family: Simple-Line-Icons;
    width: 51px;
    height: 51px;
    cursor: pointer;
    color: #fff;
    background-color: #012b55;
    font-size: 18px;
    bottom: 15px;
    position: absolute;
    i{
        font-size: 16px;
    }
}
}

.sidebar{
.widget {
    margin: 0 0 #{$size__spacing-unit};

     ul {
    margin: 0;
    list-style: none;
    padding: 0px;
    li {
    font-size: 14px;
    font-weight: 600;
    font-family: 'robotolight', sans-serif;
    color: #545454;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    line-height: 40px;
    a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 32px;
}
&:before {
    content: "\f105";
    font-family: 'FontAwesome';
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 24px;
    color: #545454;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
}
}
.recentcomments{
    span{
        a{
           margin-left: 32px!important;
        }
    }
    a{
        margin-left: 0px !important;
    }
}
   .widget-title {
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 32px;
    font-weight: 600;
    font-style: normal;
    color: #333333;
    font-size: 20px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    &:after{
        content:'';
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
        border-top: 1px solid #eee;
        display: block;
    }


}

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }

    a {
        color: $primaryColor;

        &:hover {
            color: $primaryHoverColor;
        }
    }
 

}
}
 .widget-business-hours {
    margin-bottom: 34px;
    clear: both;
     ul {
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
li {
    border-top: 1px solid #d9d9d9;
    padding: 5px 0;
    font-size: 13px;
    list-style-type: none;
    display: list-item;
    line-height: 22px;
    position: relative;
    overflow: hidden;

    &:first-child{
       border-top: none; 
    }
    span{
         margin-left: 32px;
    }
}
}
}
.widget_recent_entries {
    margin-bottom: 34px;
    clear: both;
}
.widget-post-list-item {
    margin-bottom: 15px;
    min-height: 74px;
}
.widget-post-list-item .thumbnail {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: block;
    margin-bottom: 8px;
    max-width: 100%;
}
.widget-post-list-item .thumbnail a {
    float: left;
    width: 70px;
    height: auto;
    position: relative;
}
.widget-post-list-item .thumbnail img {
    padding-top: 3px;
}
.widget-post-list-item.show-image .title-post, .widget-post-list-item.show-image .meta-data {
    margin-left: 86px;
    color: #6b6b6b;
}
.widget-latest-posts .widget-post-list-item .title-post {
    font-size: 16px;
    color: #6b6b6b;
    line-height: 22px;
    margin-bottom: 6px;
}
.widget-post-list-item .meta-data {
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 9px;
}
.widget-post-list-item .meta-data span {
    margin-right: 6px;
}



.widget-social {
    margin-bottom: 34px;
    clear: both;
}
.widget-social .widgetsocial a {
    font-size: 14px!important;
    display: inline-block;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    color: #f6f6f6;
    padding: 7px 13px;
    margin-right: 3px;
    margin-bottom: 5px;
    background-color: #012b55;
    -webkit-transition: background-color .15s ease-out, border .15s ease-out;
    -moz-transition: background-color .15s ease-out, border .15s ease-out;
    transition: background-color .15s ease-out, border .15s ease-out;
    line-height: 26px;
}
.widget-social .widgetsocial a.twitter-bg {
    background-color: #00aced;
}
.widget-social .widgetsocial a.facebook-bg {
    background-color: #3b5998;
}
.widget-social .widgetsocial a.google-bg {
    background-color: #dd4b39;
}
.widget-social .widgetsocial a.vimeo-bg {
    background-color: #aad450;
}
.widget-social .widgetsocial a.linkedin-bg {
    background-color: #007bb5;
}
.widget-social .widgetsocial a.dribbble-bg {
    background-color: #ff0084;
}
.widget-social .widgetsocial a.instagram-bg {
    background-color: #125688;
}
.widget-social .widgetsocial a.youtube-bg {
    background-color: #bb0000
}

.widget-text {
    margin-bottom: 34px;
    clear: both;
}
.textwidget {
    font-family: 'robotolight', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: grey;
    font-weight: 400;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}


.widget_calendar .calendar_wrap {
    text-align: center;

    table td,
    table th {
        border: none;
    }

    a {
        text-decoration: underline;
    }
}



// Tags Cloud Widget
.tagcloud {
    text-align: center;
    a {
        display: inline-block;
        background-color: #7D7D7D;
        padding: 1px 9px;
        border-radius: 10px;
        color: #eee;
    }
    
}

.widget_tag_cloud {
    margin-bottom: 34px;
    clear: both;
    .tagcloud {
        a {
    font-size: 12px!important;
    display: inline-block;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    color: #f6f6f6;
    padding: 0 18px;
    margin-right: 3px;
    margin-bottom: 5px;
    border: 1px solid #012b55;
    background-color: #012b55;
    -webkit-transition: background-color .15s ease-out, border .15s ease-out;
    -moz-transition: background-color .15s ease-out, border .15s ease-out;
    transition: background-color .15s ease-out, border .15s ease-out;
    line-height: 26px;
    &:hover{
         background-color: #323232;
          border: 1px solid #323232;
    }
}
    }
}
